.workflow-editor-layout-main-area {
  height: 100%;
  width: 100%;
}

div.workflow-editor-layout-container {
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
}
.workflow-editor-layout-container p {
  margin: 0;
}
.workflow-editor-layout-container .bjs-powered-by {
  display: none;
}

.tc-modal-body:has(.workflow-editor-layout-create-new-tiddler-modal-container) {
  overflow-y: visible;
}
.workflow-editor-layout-create-new-tiddler-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.workflow-editor-layout-create-new-tiddler-modal-container input {
  width: 100%;
  font-size: 1.5em;
  height: 2em;
}
.workflow-editor-layout-create-new-tiddler-modal-button {
  font-size: 2em;
}

.workflow-editor-layout-switch-board-modal-container, .workflow-editor-layout-switch-board-modal-container select {
  width: 100%;
  font-size: 2em;
}

.workflow-editor-layout-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;  /* space between buttons */
  z-index: 150;
}

.workflow-editor-layout-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background-color: #6200EACC; /* Material-UI Primary Color */
  color: white;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  outline: none;
  font-size: 24px;
}

.workflow-editor-layout-add-button > svg {
  fill: white;
}

.workflow-editor-layout-add-button:hover {
  background-color: #3700B3CC; /* Darken color on hover */
}

.workflow-editor-layout-add-button:focus {
  outline: none;
}